<h1>
    {{headerText}}
</h1>
<p>
    You might want to go to the
    <button mat-stroked-button (click)="showFeedbackPage()">Feedback page</button>
</p>

<h3><strong>Angular unit testing tutorials</strong></h3>
<mat-nav-list>
    <a mat-list-item href="https://angular.io/guide/testing-components-scenarios" target=”_blank”>Angular Component
        testing scenarios</a>
    <a mat-list-item href="https://testing-angular.com/introduction/#introduction" target=”_blank”>Testing Angular</a>
    <a mat-list-item href="https://simpleweblearning.com/form-testing-in-angular/" target=”_blank”>Form Testing in
        Angular</a>
</mat-nav-list>